.site-policy {
    margin: 65px 0 180px 0;
}

.content-site-policy {
    margin-top: 60px;
    display: grid;
}

@include mqdown() { 
    .site-policy {
        margin: 60px 0 165px 0;
    }
    
    .content-site-policy {
        margin-top: 40px;
        display: grid;
    }
}